name: Example Workflow using Github Secrets 

on: 
  workflow_dispatch:
    inputs:
      logLevel: 
        description: 'Log level'
        required: true 
        default: 'warning'

jobs: 
  use-secret: 
    runs-on: ["self-hosted", "ub22"] 

    steps: 

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Conditional check 
        run: | 
          if [ "$MY_SECRET_VALUE" == "https://vault.thecodemountains.com:8443" ]; then
            echo "VAULT_ADDR matches the expected value."
            mkdir -p ~/test_file_from_gh_workflow
            touch ~/test_file_from_gh_workflow/test.txt
            echo "manual add"
            echo "https://vault.thecodemountains.com:8443" >> ~/test_file_from_gh_workflow/test.txt
            echo "github secret add"
            echo $MY_SECRET_VALUE >> ~/test_file_from_gh_workflow/test.txt
            echo 'secret added above' >> ~/test_file_from_gh_workflow/test.txt
          else 
            echo "VAULT_ADDR does not match the expected value."
            echo "$MY_SECRET_VALUE"
            echo $MY_SECRET_VALUE
            echo "https://vault.thecodemountains.com:8443"
          fi
        env:
          MY_SECRET_VALUE: ${{ secrets.VAULT_ADDR }}